
[data-tooltip] {
  position: relative;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  font-size: 1rem;
  color: hsl(0, 0%, 90%);
  background-color: hsl(0, 0%, 20%);
  padding: 0.3em 0.6em;
  border-radius: 0.2em;
  position: absolute;
  left: 50%;
  top: 100%;
  width: max-content;
}

[data-tooltip]::after {
  opacity: 0;
  transform: translateX(-50%) translateY(-0.5em);
  transition: 0.2s;
}

[data-tooltip]:hover::after {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}
