* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: 'Yanone Kaffeesatz';
  font-size: 18pt;
  font-weight: 300;
}
body {
  background-color: #0a0a0a;
}
body,
a {
  color: rgba(255,255,255,0.9);
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
li {
  list-style: none;
}
hr {
  border: none;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}
.site-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.page-divide {
  max-width: 900px;
  margin: auto;
}
.social {
  width: max-content;
  margin: 0px auto 20px;
}
.social a {
  margin: 0px 5px;
  display: inline-block;
  width: 48px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  position: relative;
  transition: 0.2s;
}
.social a:hover {
  background-color: rgba(255,255,255,0.2);
}
.social a .hover-title {
  pointer-events: none;
  white-space: nowrap;
  margin-left: -100%;
  margin-right: -100%;
  text-align: center;
  opacity: 0;
  transition: 0.3s;
  top: 10px;
  position: relative;
}
.social a:hover .hover-title {
  opacity: 0.8;
  top: 0;
}
.greeting {
  text-align: center;
}
.greeting h1,
.greeting h2 {
  margin: auto;
}
.greeting h1 {
  max-width: 500px;
  font-size: 280%;
  margin-bottom: 70px;
}
.greeting h2 {
  max-width: 750px;
  font-size: 180%;
  margin-bottom: 70px;
}
.projects {
  margin: auto;
  padding-top: 80px;
}
.projects .project {
  display: block;
  max-width: 800px;
  height: 200px;
  margin: 0px auto 30px;
  position: relative;
  background-size: cover;
}
.projects .project .hover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-bottom: 3px solid transparent;
  transition: 0.2s;
}
.projects .project:hover .hover {
  background-color: rgba(255,255,255,0.05);
  border-bottom-color: rgba(255,255,255,0.08);
}
.projects .project .project-info {
  padding: 10px 20px 15px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.projects .project .project-info h3 {
  font-size: 150%;
}
.projects .project .project-info small {
  font-size: 70%;
}
.bg-animation {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  pointer-events: none;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #161616;
}
