doctype html
html
  head
    title (◕‿◕✿)
    meta(charset='utf-8')
    
    link(href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300' rel='stylesheet' type='text/css')
    link(rel='stylesheet' type='text/css' href='site/styles/main.css')
    
    script(src='site/scripts/projects.js')
  
  body
    .site-content
      .greeting
        h1 hi! i hope you're having a wonderful day!
        h2 i do thingies sometimes, some are more presentable than others
      
      .projects
